<!--
	Unicorn.Configs.Default.config

	This is an example of how to configure a basic Unicorn configuration using your own config patch file.
	Copy this file to use as a basis for your own configuration definitions.

	Enabled configuration definition patches should be present on all environments Unicorn is present on.

	See Unicorn.config for commentary on how configurations operate, or https://github.com/kamsar/Unicorn/blob/master/README.md
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<unicorn>
			<configurations>
        
				<configuration name="CATS - Module Configuration" description="CATS module Sitecore configuration items (templates, modules).">
					<predicate>
            
						<include name="Templates" database="master" path="/sitecore/templates/Content Author Tokens" />
						<include name="Modules" database="master" path="/sitecore/system/Modules/Content Author Tokens" />
            <include name="Validation Rules - Fields" database="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/Content Author Tokens" />
            
            <include name="Command Button - Chunk" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Chunks/Content Author Tokens" />
            <include name="Command Button - Strip" database="core" path="/sitecore/content/Applications/Content Editor/Ribbons/Strips/Presentation/Content Author Tokens" />
          
					</predicate>
					
					<dataProviderConfiguration enableTransparentSync="false" />

					<syncConfiguration updateLinkDatabase="false" updateSearchIndex="false" />
				</configuration>
        
			</configurations>
		</unicorn>
	</sitecore>
</configuration>
