<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>

    <pipelines>

      <initialize>
        <processor type="SitecoreSpark.CATS.Processors.Pipelines.Initialize.InitCATS, SitecoreSpark.CATS" resolve="false" />
      </initialize>
      
      <renderField>
        <processor type="SitecoreSpark.CATS.Processors.Pipelines.RenderField.TokenReplacer, SitecoreSpark.CATS" patch:after="processor[@type='Sitecore.Pipelines.RenderField.AddBeforeAndAfterValues, Sitecore.Kernel']" resolve="false" />
      </renderField>

      <publish>
        <processor type="SitecoreSpark.CATS.Processors.Pipelines.Publish.RebuildTokenCache, SitecoreSpark.CATS" patch:after="processor[@type='Sitecore.Publishing.Pipelines.Publish.ProcessQueue, Sitecore.Kernel']" resolve="false" />
      </publish>
      
    </pipelines>

  </sitecore>

</configuration>