<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

  <sitecore>

    <settings>

      <!-- Start pattern of token; EndTag should be updated accordingly -->
      <setting name="SitecoreSpark.CATS.StartTag" value="{{" />

      <!-- End pattern of token; StartTag should be updated accordingly -->
      <setting name="SitecoreSpark.CATS.EndTag" value="}}" />

      <!-- Maximum allowed size of cache; page rendering performance may suffer if all tokens are not in cache -->
      <setting name="SitecoreSpark.CATS.CacheSize" value="10MB" />

    </settings>

  </sitecore>

</configuration>